name: Pipeline para MAIN
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build MAIN
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do cod
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Instalando dependencias
        run: npm install

      - name: Run nos testes
        run: npm test

     
